<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<script>
  const toggleBtn = document.querySelector(".toggle_btn");
  const toggleBtnIcon = document.querySelector(".toggle_btn i");
  const dropDownMenu = document.querySelector(".dropdown_menbu");

  toggleBtn.onClick = function () {
    dropDownMenu.classList.toggle("open");
    const isOpen = dropDownMenu.classList.contains("open");

    toggleBtnIcon.classList = isOpen ? "fa-solid fa-xmark" : "fa-solid fa-bars";
  };
</script>
<header class="header">
  <div class="navbar">
    <div class="logo"><a href="#"> Crypto Coin</a></div>
    <ul class="links">
      <li><a href="hero">Home</a></li>
      <li><a href="about">Chi sono</a></li>
      <li><a href="service">Servizi</a></li>
      <li><a href="contact">Contatti</a></li>
    </ul>
    <a href="#" class="action_btn">Get Started</a>
    <div class="toggle_btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>

  <div class="dropdown_menu">
    <li><a href="hero">Home</a></li>
    <li><a href="about">Chi sono</a></li>
    <li><a href="service">Servizi</a></li>
    <li><a href="contact">Contatti</a></li>
    <li><a href="#" class="action_btn">Get Started</a></li>
  </div>
</header>
