<!--<form class="form" #userForm="ngForm" (ngSubmit)="onUserCreate(userForm.value)" >
  <div class="formcontainer">
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nameUser" ngModel/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cognome</mat-label>
        <input matInput type="text" name="cognomeUser" ngModel/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cellulare</mat-label>
        <input matInput type="text" name="cellulareUser" ngModel/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" ngModel/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="text" name="password" ngModel/>
      </mat-form-field>
    </div>
  </div>
  <input type="submit" value="Crea il tuo account!">
</form> -->

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="form" #userForm="ngForm" (ngSubmit)="onUserCreate(userForm.value)" >

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input matInput type="text" name="nameUser" ngModel/>

                      <label class="form-label" for="form3Example1c">Nome</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input matInput type="text" name="cognomeUser" ngModel/>
                      <label class="form-label" for="form3Example3c">Cognome</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input matInput type="text" name="cellulareUser" ngModel/>
                      <label class="form-label" for="form3Example4c">Cellulare</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input matInput type="text" name="username" ngModel/>
                      <label class="form-label" for="form3Example4cd">Username</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input matInput type="text" name="password" ngModel/>
                      <label class="form-label" for="form3Example4cd">Password</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Registrati</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://vitolavecchia.altervista.org/wp-content/uploads/2022/04/Caratteristiche-e-differenza-tra-NFT-e-Smart-Contract-in-informatica.jpg"
                  class="img-fluid" alt="Sample image">
z
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

