<h1><strong> Compila il form per Registrarti</strong></h1>


<form class="form "[formGroup]="homeform" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" formControlName="nome"/>
  </mat-form-field>
  <p *ngIf="!homeform.get('nome')?.valid && homeform.get('nome')?.touched">Iserisci il nome per poter continuare! </p>

  <mat-form-field appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput type="text" name="cognome" formControlName="cognome" />
  </mat-form-field>
  <p *ngIf="!homeform.get('cognome')?.valid && homeform.get('cognome')?.touched">Iserisci il Cognome per poter continuare! </p>

  <mat-form-field appearance="fill">
    <mat-label>Indirizzo</mat-label>
    <input matInput type="text" name="indirizzo" formControlName="indirizzo" />
  </mat-form-field>
  <p *ngIf="!homeform.get('indirizzo')?.valid && homeform.get('indirizzo')?.touched">Iserisci l'indirizzo per poter continuare! </p>

  <mat-form-field appearance="fill">
    <mat-label>Telefono</mat-label>
    <input matInput type="text" name="cellulare" formControlName="cellulare" />
  </mat-form-field>
  <p *ngIf="!homeform.get('cellulare')?.valid && homeform.get('cellulare')?.touched">Iserisci il tuo cellulare per poter continuare! </p>

<mat-form-field appearance="fill">
    <mat-label>Sesso</mat-label>
    <input matInput type="text" name="sesso" formControlName="sesso" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Scegli username</mat-label>
    <input matInput type="text" name="username" formControlName="username" />
  </mat-form-field>
  <p *ngIf="!homeform.get('username')?.valid && homeform.get('username')?.touched">Scegli una username per poter continuare! </p>

  <mat-form-field appearance="fill">
    <mat-label>Scegli Passsword</mat-label>
    <input matInput type="text" name="password" formControlName="password" />
  </mat-form-field>
  <p *ngIf="!homeform.get('password')?.valid && homeform.get('password')?.touched">Scelgi una password per poter continuare e ricorda che deve avere almeno 6caratteri</p>

  <button mat-raised-button color="warn" [disabled]="!homeform.valid"><strong>Registrati ora!</strong></button>

</form>
<app-footer></app-footer>

