
<section class="section-cluster">
  <ul class="visual_list">
    <li class="ep_col2">
      <div class="ep_card undefined">
        <span class="img_card">
          <img src="https://media.istockphoto.com/id/1294303237/it/foto/tendenze-delle-criptovalute-bitcoin-grafici-e-grafici.jpg?s=612x612&w=0&k=20&c=b-o2W3fmj_eogkPuLuI92bj2ypGWgIgq06phrgvReQk="
          alt="ram" width=250 height=250 routerLink="/home">
        </span>
      <span class="name_card">Crypto</span>
      </div>
    </li>

    <li class="ep_col2">
      <div class="ep_card undefined">
        <span class="img_card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Wallet_App_icon_iOS_12.png"
          alt="ram" width=250 height=250>
        </span>
      <span class="name_card">Wallet</span>
      </div>
    </li>

    <li class="ep_col2">
      <div class="ep_card undefined">
        <span class="img_card">
          <img src="https://st2.depositphotos.com/3907761/7668/v/450/depositphotos_76684303-stock-illustration-registration-icon.jpg"
          alt="ram" width=250 height=250 routerLink="/formReg">
        </span>
      <span class="name_card">Register here</span>
      </div>
    </li>

    <li class="ep_col2">
      <div class="ep_card undefined">
        <span class="img_card">
          <img src="https://cdn-icons-png.flaticon.com/512/2304/2304226.png" alt="ram" width=250 height=250 routerLink="/adminPage">
        </span>
      <span class="name_card">Admin Page</span>
      </div>
    </li>
  </ul>
</section>
<app-footer></app-footer>

