//banner scorrevole crypto
.banner {
  height: 200px;
  width: 100%;
}

.card {
  border: 0;
  background: transparent;
  padding: 10px;
  margin: 40px;
  width: 100px;
  height: 200px;
  img {
    width: 70px;
    margin: 0 auto;
  }
  h5 {
    font-weight: 500;
  }
  p {
    font-weight: 700;
  }
}

.sub-header {
  height: 50%;
  display: flex;
  align-items: center;
}

//tabella crypto

.container__tabella__crypto{
  border: solid red 1px;


}
.demo-table {
border: solid red 1px;
  width: 500px;
  text-align: center;
}

//sezione metamask
.foto_logo_servizi {

  width: 100px;
}

/*
//panel
.panel{
  height: 100vw;
  width: 100%;
  background: white;
  position: relative;
  z-index: 2;
  color: black;
  display: flex;

}

.container_panel{
  width: 100%;
  max-width: 1000px;
  padding: 4% 4% 0 4% ;

}

.intro{
  font-size: 15px;
  font-weight: bold;
}

.title-big{
  font-size: 50px;
}

.img-blockchain{
  width: 600px;
  position: relative;
  display: block;
}

.img-meta{
  width: 300px;
  position: relative;
  display: block;
}*/



